<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.mapper.BaseballPitcherMapper">

    <select id="selectBaseballPitcherStat" resultType="hashMap">
            SELECT
                IDX,
               GAME_ID,
               LEAGUE,
               GROUND,
               STADIUM,
               MATCH_DATE,
               DAY_OF_WEEK,
               MATCH_TIME,
               A_TEAM,
               A_TEAM_PITCHER,
               B_TEAM,
               SEASON_WINS,
               SEASON_LOSSES,
               INNING_PITCHED,
               PITCH_COUNT,
               HIT,
               HOMERUN,
               BASEONBALL_TEXTS,
               BASEONBALLS,
               STRIKEOUTS,
               RUN,
               EARNED_RUN,
               TODAY_EARNED_RUN_AVG,
               SEASON_EARNED_RUN_AVG,
               FIRST_INNING_RUN,
               FOURTH_INNING_RUN,
               UPDATE_YN
        FROM   sport.baseball_pitcher_data
            ORDER  BY MATCH_DATE,
                      MATCH_TIME,
                      LEAGUE,
                      GAME_ID;
    </select>

    <insert id="insertBaseballPitcherStat" parameterType="com.batch.model.BaseballModel">
      INSERT INTO sport.baseball_pitcher_data
            (
             GAME_ID,
             LEAGUE,
             GROUND,
             STADIUM,
             MATCH_DATE,
             DAY_OF_WEEK,
             MATCH_TIME,
             A_TEAM,
             A_TEAM_PITCHER,
             B_TEAM,
             SEASON_WINS,
             SEASON_LOSSES,
             INNING_PITCHED,
             PITCH_COUNT,
             HIT,
             HOMERUN,
             BASEONBALL_TEXTS,
             BASEONBALLS,
             STRIKEOUTS,
             RUN,
             EARNED_RUN,
             TODAY_EARNED_RUN_AVG,
             SEASON_EARNED_RUN_AVG,
             FIRST_INNING_RUN,
             FOURTH_INNING_RUN
             )
     VALUES (
             #{gameId},
             #{league},
             #{ground},
             #{stadium},
             #{date},
             #{dayOfWeek},
             #{time},
             #{aTeam},
             #{aTeamPitcher},
             #{bTeam},
             #{seasonWins},
             #{seasonLosses},
             #{inningPitched},
             #{pitchCount},
             #{hit},
             #{homeRun},
             #{baseOnBallTexts},
             #{baseOnBalls},
             #{strikeOuts},
             #{run},
             #{earnedRun},
             #{todayEarnedRunAverage},
             #{seasonEarnedRunAverage},
             #{firstInningRun},
             #{fourthInningRun}
             );
   </insert>

    <update id="updateBaseballPitcherStat" parameterType="com.batch.model.BaseballModel">
        UPDATE sport.baseball_pitcher_data
             SET GAME_ID = #{gameId},
                 LEAGUE = #{league},
                 GROUND = #{ground},
                 STADIUM = #{stadium},
                 MATCH_DATE = #{date},
                 DAY_OF_WEEK = #{dayOfWeek},
                 MATCH_TIME = #{time},
                 A_TEAM = #{aTeam},
                 A_TEAM_PITCHER = #{aTeamPitcher},
                 B_TEAM = #{bTeam},
                 SEASON_WINS = #{seasonWins},
                 SEASON_LOSSES = #{seasonLosses},
                 INNING_PITCHED = #{inningPitched},
                 PITCH_COUNT = #{pitchCount},
                 HIT = #{hit},
                 HOMERUN = #{homeRun},
                 BASEONBALL_TEXTS = #{baseOnBallTexts},
                 BASEONBALLS = #{baseOnBalls},
                 STRIKEOUTS = #{strikeOuts},
                 RUN = #{run},
                 EARNED_RUN = #{earnedRun},
                 TODAY_EARNED_RUN_AVG = #{todayEarnedRunAverage},
                 SEASON_EARNED_RUN_AVG = #{seasonEarnedRunAverage},
                 FIRST_INNING_RUN = #{firstInningRun},
                 FOURTH_INNING_RUN = #{fourthInningRun}
        WHERE       GAME_ID = #{gameId}
                AND LEAGUE = #{league}
                AND GROUND = #{ground}
                AND A_TEAM = #{aTeam}
                AND MATCH_DATE = #{date}
                AND UPDATE_YN = 1;
    </update>

    <select id="checkGameIdCount" parameterType="com.batch.model.BaseballModel" resultType="int">
     SELECT COUNT(1)
           FROM sport.baseball_pitcher_data
        WHERE GAME_ID = #{gameId};
   </select>

</mapper>