<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.mapper.BaseballMapper">

    <insert id="insertBaseballMatch" parameterType="com.batch.model.BaseballModel">
        INSERT INTO sport.baseball_data
                    (GAME_ID,
                     LEAGUE,
                     GROUND,
                     STADIUM,
                     MATCH_DATE,
                     DAY_OF_WEEK,
                     MATCH_TIME,
                     A_TEAM,
                     B_TEAM)
        VALUES      ( #{gameId},
                      #{league},
                      #{ground},
                      #{stadium},
                      #{date},
                      #{dayOfWeek},
                      #{time},
                      #{aTeam},
                      #{bTeam} ) ;
    </insert>

    <select id="checkGameIdCount" parameterType="com.batch.model.BaseballModel" resultType="int">
       SELECT COUNT(1)
           FROM sport.baseball_data
        WHERE GAME_ID = #{gameId};
    </select>

    <update id="updateBaseballStat" parameterType="com.batch.model.BaseballModel">
        <![CDATA[

        UPDATE sport.baseball_data
        SET
            LEAGUE      =#{league},
            GROUND      =#{ground},
            STADIUM     =#{stadium},
            MATCH_DATE      =#{date},
            DAY_OF_WEEK     =#{dayOfWeek},
            MATCH_TIME      =#{time},
            A_TEAM_REST_DAY = IFNULL((SELECT  DATEDIFF(#{date} ,(SELECT MATCH_DATE FROM (SELECT MATCH_DATE FROM  sport.baseball_data A WHERE A_TEAM = #{aTeam} AND LEAGUE = #{league} AND A_TEAM_PITCHER = #{aTeamPitcher} AND MATCH_DATE <  #{date} ORDER BY idx DESC LIMIT 1) A ))) -1,0),
            A_TEAM_PITCHER      =#{aTeamPitcher},
            A_TEAM      =#{aTeam},
            A_TEAM_TOTAL_POINT      =  #{aTeamTotalPoint},
            B_TEAM_TOTAL_POINT      =  #{bTeamTotalPoint},
            B_TEAM      =#{bTeam},
            B_TEAM_PITCHER      =#{bTeamPitcher},
            B_TEAM_REST_DAY =    IFNULL((SELECT  DATEDIFF(#{date} ,(SELECT MATCH_DATE FROM (SELECT MATCH_DATE FROM  sport.baseball_data B WHERE B_TEAM = #{bTeam}  AND LEAGUE = #{league} AND B_TEAM_PITCHER = #{bTeamPitcher} AND MATCH_DATE <  #{date} ORDER BY idx DESC LIMIT 1) A ))) -1,0),
            HANDI_CAP       =      #{handiCap},
            HANDI_CAP_RESULT        =#{handiCapResult},
            ODD     =#{odd},
            POINT_LINE      =#{pointLine},
            POINT_LINE_RESULT       =#{pointLineResult},
            A_TEAM_THIRD_POINT     =#{aTeamThirdPoint},
            B_TEAM_THIRD_POINT        =#{bTeamThirdPoint},
            THIRD_HANDI_CAP        =#{thirdHandiCap},
            THIRD_HANDI_CAP_RESULT     =#{thirdHandiCapResult},
            THIRD_POINT_LINE       =#{thirdPointLine},
            THIRD_POINT_LINE_RESULT        =#{thirdPointLineResult},
            A_TEAM_FOURTH_POINT     =#{aTeamFourthPoint},
            B_TEAM_FOURTH_POINT        =#{bTeamFourthPoint},
            FOURTH_HANDI_CAP        =#{fourthHandiCap},
            FOURTH_HANDI_CAP_RESULT     =#{fourthHandiCapResult},
            FOURTH_POINT_LINE       =#{fourthPointLine},
            FOURTH_POINT_LINE_RESULT        =#{fourthPointLineResult},
            A_TEAM_FIFTH_POINT      =#{aTeamFifthPoint},
            B_TEAM_FIFTH_POINT      =#{bTeamFifthPoint},
            FIFTH_HANDI_CAP     =#{fifthHandiCap},
            FIFTH_HANDI_CAP_RESULT      =#{fifthHandiCapResult},
            FIFTH_POINT_LINE        =#{fifthPointLine},
            FIFTH_POINT_LINE_RESULT       =#{fifthPointLineResult},
            FIRST_STRIKEOUT     =#{firstStrikeOut},
            FIRST_HOMERUN       =#{firstHomerun},
            FRIST_BASEONBALL        =#{firstBaseOnBall},
            FRIST_POINT     =#{firstScore},
            SECEND_POINT        =#{secondScore},
            THRID_POINT     =#{thirdScore},
            FOURTH_POINT        =#{fourthScore},
            FIFTH_POINT     =#{fifthScore},
            SIXTH_POINT     =#{sixthScore},
            SEVENTH_POINT       =#{seventhScore},
            EIGHTH_POINT        =#{eighthScore},
            NINTH_POINT     =#{ninthScore},
            EXTEND_POINT     =#{extendScore},
            EXTEND_YN       =#{extendYn}

        WHERE
            GAME_ID   =     #{gameId} AND
            LEAGUE   =     #{league} AND
            GROUND   =     #{ground} AND
            MATCH_DATE   =  #{date} AND
            A_TEAM   =     #{aTeam} AND
            B_TEAM   =     #{bTeam} AND
            UPDATE_YN = 1

        ]]>

    </update>

    <select id="selectBaseballStat"  resultType="hashMap">
            SELECT IDX,
                   GAME_ID,
                   LEAGUE,
                   GROUND,
                   STADIUM,
                   MATCH_DATE,
                   DAY_OF_WEEK,
                   MATCH_TIME,
                   A_TEAM_REST_DAY,
                   A_TEAM_PITCHER,
                   A_TEAM_PITCHER_HAND,
                   A_TEAM,
                   A_TEAM_TOTAL_POINT,
                   B_TEAM_TOTAL_POINT,
                   B_TEAM,
                   B_TEAM_PITCHER,
                   B_TEAM_PITCHER_HAND,
                   B_TEAM_REST_DAY,
                   HANDI_CAP,
                   HANDI_CAP_RESULT,
                   ODD,
                   POINT_LINE,
                   POINT_LINE_RESULT,
                   A_TEAM_THIRD_POINT,
                   B_TEAM_THIRD_POINT,
                   THIRD_HANDI_CAP,
                   THIRD_HANDI_CAP_RESULT,
                   THIRD_POINT_LINE,
                   THIRD_POINT_LINE_RESULT,
                   A_TEAM_FOURTH_POINT,
                   B_TEAM_FOURTH_POINT,
                   FOURTH_HANDI_CAP,
                   FOURTH_HANDI_CAP_RESULT,
                   FOURTH_POINT_LINE,
                   FOURTH_POINT_LINE_RESULT,
                   A_TEAM_FIFTH_POINT,
                   B_TEAM_FIFTH_POINT,
                   FIFTH_HANDI_CAP,
                   FIFTH_HANDI_CAP_RESULT,
                   FIFTH_POINT_LINE,
                   FIFTH_POINT_LINE_RESULT,
                   FIRST_STRIKEOUT,
                   FIRST_HOMERUN,
                   FRIST_BASEONBALL,
                   FRIST_POINT,
                   SECEND_POINT,
                   THRID_POINT,
                   FOURTH_POINT,
                   FIFTH_POINT,
                   SIXTH_POINT,
                   SEVENTH_POINT,
                   EIGHTH_POINT,
                   NINTH_POINT,
                   EXTEND_POINT,
                   EXTEND_YN
            FROM   sport.baseball_data
            WHERE  A_TEAM_TOTAL_POINT != 99
            ORDER  BY MATCH_DATE,
                      GAME_ID;
    </select>


</mapper>
