<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.mapper.CommonMapper">

    <select id="selectSportMakeExcelList" resultType="hashMap">
        SELECT
            SPORT
        FROM sport.crawling_sport
            WHERE EXCEL_YN = 1;
    </select>

    <select id="selectSportMakeExcelListWithoutPitcher" resultType="hashMap">
        SELECT
            SPORT
        FROM sport.crawling_sport
            WHERE EXCEL_YN = 1 AND SPORT != 'baseball_pitcher';
    </select>

    <select id="selectMemberList"  resultType="HashMap">
        SELECT EMAIL,
                SPORT_YN,
                PITCHER_YN
            FROM sport.member
        WHERE END_DATE > NOW();
    </select>

</mapper>